// Colors
$primary_color_red: rgb(158, 11, 11);
$primary_color_sand: #bfb7aa;
$primary_color_white: white;

// Font sizes
$header_font_size: 50px;
$large_font_size: 30px;
$medium_font_size: 18px;
$small_font_size: 15px;
$xsmall_font_size: 12px;
